.layout-view {
  position: absolute;
  background: #f1f1f1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.layout-view .layout-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 10px;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  .layout-view .layout-header .header-info {
    float: left; }
    .layout-view .layout-header .header-info .header-pic {
      float: left;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      font-size: 30px;
      line-height: 40px;
      border-radius: 4px;
      background: #b0b0b0;
      color: #fff;
      text-align: center; }
    .layout-view .layout-header .header-info .header-name {
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 14px; }
      .layout-view .layout-header .header-info .header-name span {
        font-size: 13px;
        display: block;
        line-height: 20px; }
  .layout-view .layout-header .header-opear {
    float: right;
    line-height: 60px;
    width: 100px; }
    .layout-view .layout-header .header-opear input {
      -webkit-appearance: none; }

.layout-view .layout-list {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  overflow-y: auto; }
  .layout-view .layout-list .list-item a label {
    cursor: pointer; }

.info-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .info-view .info-view-w .info-back {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 4;
    color: #fff;
    font-size: 13px; }
  .info-view .info-view-w .info-data-w {
    position: absolute;
    top: 149px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto; }
    .info-view .info-view-w .info-data-w .info-data {
      padding: 20px;
      background: #fff; }
      .info-view .info-view-w .info-data-w .info-data .info-data-id {
        display: block; }
      .info-view .info-view-w .info-data-w .info-data .info-data-value {
        margin-top: 10px;
        display: block; }

.empty-view {
  margin: 50px 0;
  text-align: center;
  font-size: 16px;
  color: #b0b0b0; }

.loading-specail .loading-specail-w {
  width: 40px;
  height: 40px;
  margin: 100px auto 0; }
