@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}

body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, caption, cite, code, dfn, em, var, strong, th {
  font-style: normal;
  font-weight: normal;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a:focus {
  outline: none;
  -moz-outline: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  -webkit-touch-callout: none;
}

em {
  font-style: normal;
}

button, input, select, textarea {
  font-size: 100%;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

textarea {
  resize: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

/* 去除iphone ipad 设备默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}
