//
// Load core variables and mixins
// --------------------------------------------------
@import "ehr-variables";
* {
    margin: 0px;
    padding: 0px;
}
/*user-defined*/

//text-assistant-color 副标题/标题副信息、卡片中的二级信息
.text-peace {
    color: $state-text; //#999999
}

//完成状态下的进度条
.progress-bar-finish {
    background-color: $gray-light; //999999
}

.text-finish {
    color: $state-dark-text;
}

//表单必填项统一样式 
.required-icon {
    height: 36px;
    line-height: 36px;
    color: red;
}

//缩略图  卡片 边框
.thumbnail {
    border: 1px solid $gray-assistant-light;
    background-color: #fff;
    border-radius: $border-radius-large;
    padding: 0px;
}

//avatar_size
.avatar-large {
    width: 48px;
    height: 48px;
}
    
.avatar-default {
    width: 34px;
    height: 34px;
}

.avatar-small {
    width: 32px;
    height: 32px;
}

// Button sizes
// --------------------------------------------
@mixin shadow_first_style {
    box-shadow: 0px 1px 1px 0px $gray-assistant inset;
}

@mixin shadow_second_style {
    box-shadow: 0px 1px 1px 0px #500000;
}

@mixin border_first_style {
    border: 1px solid $gray-assistant;
}

@mixin border_second_style {
    border: 2px solid $gray-light;
}

@mixin dropdown-common-style {
    height: 49px;
    width: 54px;
    border-right: none;
    border-top: none;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

//button-------------------------------------------
.btn {
    height: $base-height;
    padding: 7px $padding-large-horizontal;
    border-radius: $border-radius-small;
    &:active, &.active {
        box-shadow: none;
    }
    &:focus,
    &.focus,
    &:active:focus,
    &.focus:active,
    &.active:focus,
    &.active.focus {
        outline: none;
        outline-offset: 0px;
    }
}

.btn-default {
    &:hover {
        background-color: $gray-lighter;
    }
    &:focus,
    &.active {
        color: $gray-darker;
        background-color: $gray-assistant-dark;
    }
}

.btn-large {
    min-width: 80px;
}

.btn-sm {
    height: 30px;
    min-width: 60px;
    font-size: $font-size-base;
    padding: 5px 15px 9px 15px;
}

.btn-icon {
    min-width: 60px;
}

.btn-icon-small {
    width: 36px;
    height: 36px;
    padding: 7px;
}

//ICON按钮组纵向------------------------
.btn-group-vertical {
    .btn {
        color: #fff;
        height: $base-height;
        border-radius: $border-radius-small;
        border: none;
        &+.btn {
            margin-top: 0px;
        }
        &:active,
        &.active {
            box-shadow: none;
        }
    }
    .btn-default {
        background-color: #c2c2c2;
        &:hover, &:focus, &.active {
            color: #fff;
            background-color: #919191;
        }
        &.disabled {
            background-color: #A8A8A8;
        }
    }
    .btn-icon-small {
        width: 33px;
        height: 33px;
        padding: 7px;
    }
}

//里程碑按钮-------------
.btn-group-vertical {
    .btn {
        .fa {
            width: 18px;
            height: 18px;
            text-align: center;
            background-image: url(../images/plantask-toolbar.png);
        }
        .fa-milestone-all {
            background-position: -331px -81px;
        }
        .fa-milestone-key {
            background-position: -297px -81px;
        }
        .fa-change-big {
            background-position: -189px -81px;
        }
        .fa-change-samll {
            background-position: -261px -81px;
        }
        &:first-child {
            .fa {
                width: 22px;
                height: 18px;
                text-align: center;
                background-image: url(../images/plantask-toolbar.png);
            }
        }
    }
         
    .btn.disabled {
        .fa-change-big {
            background-position: -153px -80px;
        }
        .fa-change-samll {
            background-position: -225px -81px;
        }
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

//form--------------------------------
.form-control {
    height: $base-height;
    padding-left: $padding-base-horizontal;
    border: 1px solid $gray-assistant-dark;
    border-radius: 3px;
}

label {
    font-weight: normal;
    color: $gray-dark;
}

.form-horizontal {
    .control-label {
        padding-top: $padding-base-horizontal;
    }
}
        
.form-control {
    &:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
    &.disabled,
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: #fff;
        border: 1px solid $gray-lighter;
        color: $gray-light;
    }
}

.form-control-feedback {
    line-height: 30px;
    padding-top: 0px;
}

//*的定位和颜色
.fa-asterisk {
    padding-top: 12px;
    color: $brand-danger;
}

//radio and checkbox ------------------
.checkbox_inline {
    ul {
        float: left;
        li {
            float: left;
        }
    }
}

//table--------------------------------
.table {
    background-color: #fff;
    margin-bottom: 0px;
    -moz-border-radius: 5px;
    /* Firefox */
    
    -webkit-border-radius: 5px;
    /* Safari 和 Chrome */
    
    border-radius: 5px;
}

.table {
    thead > tr {
        th {
            color: $state-darker-text;
        }
    }
    tbody>tr {
        td>a>span {
            &.fa-upload {
                color: $state-text;
            }
        }
    }
}

.table > thead > tr > td.danger,
.table > thead > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
    // background-color: #fcdbdb;
    background-color: #FFF0F5;
}

.table > thead > tr > td.warning,
.table > thead > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
    // background-color: #faefb4;
    background-color: #FFFFE0;
}

//分裂式下拉菜单----------------------------
.dropdown_left {
    min-width: 80px;
    padding-left: $padding-base-horizontal;
}

// .btn-group {
//     >.btn {
//         +.dropdown-toggle {
//             padding-right: 8px;
//             padding-left: 8px;
//             padding-top: 7px;
//             padding-bottom: 7px;
//         }
//         .fa-caret-down {
//             color: $state-darker-text;
//         }
//     }
// }

.btn-group.open {
    .dropdown-toggle {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
    }
}


//修改分裂式下拉菜单 添加一个类split-dropdown-menu使分类下拉菜单能随父容器宽度的变化而变化

// .btn-group{
//   &.split-dropdown-menu{
//     width: 100%;
//     button{
//       &:first-child{
//         width: 90%;
//         text-align: left;
//       }
//       &.dropdown-toggle{
//          width: 10%;
//          text-align:  center;
//       }
//     }
//   }
//   .dropdown-menu{
//     width: 100%;
//   } 
// }


//弹出框-----------------------------------
.popover {
    max-width: 339px;
    border: 1px solid $gray-light;
    display: block;
    @include shadow_first_style;
    .popover-content {
        padding: 20px 20px 22px 20px;
        .popover-content-detail {
            width: 279px;
            a {
                color: $state-darker-text;
                h5 {
                    line-height: 22px;
                    margin-top: 0px;
                    margin-bottom: 8px;
                }
            }
            .dl-horizontal {
                margin-bottom: 0px;
                dt {
                    color: $state-darker-text;
                    text-align: left;
                    font-weight: normal;
                    width: 42px;
                    margin-bottom: 0px;
                }
                dd {
                    text-align: left;
                    margin-left: 42px;
                    margin-bottom: 0px;
                }
                .center_space {
                    margin-bottom: 3px;
                }
            }
        }
    }
}

.popover-large {
    width: 323px;
    .popover-content {
        padding: 10px 20px 22px 20px;
        .popover-content-detail {
            a {
                color: $state-darker-text;
            }
            .pull-right {
                margin-top: $padding-large-vertical;
            }
            .username {
                margin-left: $padding-large-horizontal;
                margin-top: 19px;
                position: absolute;
            }
            .dl-horizontal {
                margin-top: 14px;
                margin-bottom: 0px;
                dt {
                    color: $state-darker-text;
                    text-align: left;
                    font-weight: normal;
                    width: 42px;
                    margin-bottom: 0px;
                }
                dd {
                    text-align: left;
                    width: 250px;
                    margin-bottom: 0px;
                    .branch {
                        margin-left: 35px;
                    }
                }
                .center_space {
                    margin-bottom: 3px;
                }
            }
        }
    }
}

//tabs
.nav {
    li {
        a {
            color: #333333;
            border: none;
            &:hover, &:focus {
                background-color: #f7f7f7;
            }
        }
    }
}

.nav-tabs {
    border-bottom: none;
    li.active {
        a, a:hover, a:focus {
            background-color: transparent;
            border-left: none;
            border-right: none;
            border-top: none;
            color: $brand-primary;
            border-bottom: 2px solid $brand-primary;
        }
    }
}

//<a><h1></h1></a>------------------------
a {
    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
        padding: 0px;
        &:hover, &.hover {
            text-decoration: none;
            color: $state-primary-text;
        }
    }
    &:hover,
    &.hover {
        text-decoration: none;
    }
}

//<a> ----------------------------------
a {
    color: $gray-dark;
    outline: none;
    outline-offset: 0px;
    &:focus, &.focus {
        outline: none;
        outline-offset: 0px;
    }
    &:hover {
        color: $brand-primary;
    }
}

//alert----------------------------------
.confirm-dialog .alert {
    padding-right: 50px;
    button {
        padding-top: 8px;
    }
    .close {
        &:hover, &:focus {
            outline: none;
        }
    }
}

//分享范围关闭符号
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "";
}
